.ticket-item{
    height: 370px;
    border: 2px solid #000000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    & .ticket-title{
        padding: 5px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
    }

    & img{
        height: 200px;
    }
    & .ticket-descr{
        font-size: 12px;
        text-align: center;
    }

    & .ticket-price{
        display:flex;
        justify-content: space-between;
        margin: 0 50px;
        margin-bottom: 15px;
        span {
            font-weight: 700;
        }
    }
    & button{
        border: 1px solid rgb(101, 100, 100);
        border-radius: 12px;
        font-size: 14px;
        width: 100px;
        margin: 0 auto;
    }

    & button:hover{
        background: rgb(165, 193, 165);
        transition: all .5s;
        
    }
}

.ticket-noTours{
    height: 10em;
    position: relative
}

.ticket-noToursText{

        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    }

