

<div *ngIf="tickets">
    <div class="mx-5 m-3 ">
        <div>
            <input  #ticketSearch 
            type="text" 
            [(ngModel)] = "ticketSearchValue"
            placeholder="Поиск" pInputText
            >
        </div>
        <div *ngIf = loadCountBlock>
            <p>Количество туров: {{tickets.length}}</p>
            <p>Текущий тур: {{blockDirective.activeElementIndex+1}}</p> 
        </div>

        <div *ngIf="loadBlock" class="ticket-noTours" >
            <h2 class="ticket-noToursText">Туры не найдены</h2>
        </div>
        
    </div>    
    <div>
    <div appBlocksStyle
        #tourWrap
        #blockDirective='blocksStyle'
        [selector]="'.ticket-item'"
        [initFirst]="false"
        (renderComplete)="directiveRenderComplete($event)"
        class="d-flex flex-wrap justify-content-around ">


        <div class="ticket-item col-3 m-3"
            *ngFor="let item of tickets; let i = index">
                <div class="ticket-title">{{item.name}}</div>
                <div class="ticket-img">
                    <img class="w-100" src="/assets/img/{{item.img}}">
                </div>
                <div class="ticket-descr">{{item.description.substring(0, 45)+'...'}}</div>
        
                    <button сlass="ticket-button__more" (click)="goToTicketInfoPage(item)">Подробнее</button>
              
                <div class="ticket-price">Стоимость тура:
                    <span>{{item.price}}</span>
                </div>
        </div>
    </div>
    </div>
</div>