

  <p-tabView>
      <p-tabPanel header="Смена пароля">
        <ng-template pTemplate="content">

    <div class="d-flex flex-column col-6 m-auto "> 
         <div>
                <span class="mx-3">Текущий пароль</span>
                <input type="password"
                pInputText
                [ngClass]="{'input-error': !psw}"
              [(ngModel)]="psw"/>          
         </div>
     
         <div>
                <span class="mx-3">Новый пароль</span>
                <input type="password" class="mt-3"
                pInputText
                [ngClass]="{'input-error': !newPsw}"
                [(ngModel)]="newPsw"/>
         </div>

         <div>
                <span class="mx-3">Повтор нового пароля</span>
                <input type="password" class="mt-3"
                pInputText
                [ngClass]="{'input-error': !newPswRepeat}"
              [(ngModel)]="newPswRepeat"/>
         </div>
      </div>
         <button (click)="ChangePsw($event)" type="button" class="btn btn-primary">Сменить пароль</button>

        </ng-template>
  
      </p-tabPanel>

      <p-tabPanel header="Статистка">
        <ng-template pTemplate="content">
            <app-statistic></app-statistic>
        </ng-template>
      </p-tabPanel>


      <p-tabPanel header="Загрузка туров">
        <ng-template pTemplate="content">
            <app-tour-loader></app-tour-loader>
        </ng-template>
      </p-tabPanel>

    </p-tabView>
  
 


  
  <p-toast position="top-left"></p-toast>